@import "tailwindcss";

@keyframes slide-in-right {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slide-out-right {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.dice-cube {
  animation: dice-roll 3s cubic-bezier(0.42, 1.57, 0.62, 0.86) infinite;
}

@keyframes dice-roll {
  0%   { transform: rotate3d(0, 0.9, 0.9, 90deg); }
  16%  { transform: rotate3d(-0.1, 0.6, -0.4, 180deg); }
  32%  { transform: rotate3d(-0.85, -0.42, 0.73, 180deg); }
  48%  { transform: rotate3d(-0.8, 0.3, -0.75, 180deg); }
  64%  { transform: rotate3d(0.3, 0.45, 0.9, 180deg); }
  80%  { transform: rotate3d(-0.16, 0.6, 0.18, 180deg); }
  100% { transform: rotate3d(-0.1, 0.3, -1, 180deg); }
}
